# Discord Server Configuration
ROLE_ID=

# Discord Bot Credentials
BOT_TOKEN=
CLIENT_ID=

# Wordle Bot ID
BOT_ID=

# RIOT API
RIOT_API_KEY=

# Database
DATABASE_URL=""
DIRECT_URL=""

# OMDB
OMDB_API_KEY=""

# Optional: react with 🔥 to images/videos on this channel
YUM_CHANNEL_ID=
