# Discord Server Configuration
GUILD_ID=
ROLE_ID=

# Discord Bot Credentials
BOT_TOKEN=
CLIENT_ID=

# Wordle Bot ID
BOT_ID=

# Database Configuration
POSTGRES_PASSWORD=mypassword
DATABASE_URL=postgres://postgres:mypassword@localhost:5432/postgres

# RIOT API
RIOT_API_KEY=
